<div class="blog-header">
    <h3>BLOGS</h3>
    <img src="../img/Separator-White.png" alt="" class="text-center-block pt-2">
</div>

<div class="blog-container">
    <div class="blog-main-img">
        <img src="img/blog-2.webp" alt="" width="100%">

        <div class="subslogan">
            <h2>May 25th, 2022</h2>
            <p>The more recipes you share, the more fresh air you will bring to your cup of coffee</p>
            <p>By <span>Tan Minh</span></p>
        </div>
    </div>

    <section>
        <h1>Most <span>popular</span></h1>
        <img src="../img/Separator-White.png" alt="" class="text-center-block pt-2">
        <div class="row">
            <div class="col-9">
                <img src="img/blog-1.jpeg" alt="" width="100%">
            
                <div class="overlay">
                    <h2>13 NESPRESSO RECIPES THAT SHOULD STEP UP YOUR COFFEE GAME</h2>
                    <p>Dec 06, 2021 · It's the perfect recipe on coffee shop. Cool math games coffee shop perfect recipe. Cookies and cream milkshake chick fil a recipe Next purchese 50 cups, 40 coffee, 40 milk, and 50 sugar. Perfect recipe for coffee shop game can offer you many choices to save money thanks to 17 active results.</p>
                    <p>Fed up with your plain coffee or want to avoid hurting your pocket from expensive drinks at the coffee shop? Then this might be the time to unleash your inner barista at home! 
                    From chocolate hazelnut latte right down to Nespresso barista coffee, here’s the compilation of some of my favorite Nespresso recipes online that are super creative and worth-sipping!</p>
                </div>
            </div>
            
            <div class="col-3">
                <div class="blog-1">
                    <img src="img/blog-2.jpeg" alt="" width="100%" class="blog-item-1">
                    
                    <div class="overlay1">
                        <h2>40 COFFEE SHOP DRINKS AND TREATS YOU CAN MAKE AT HOME ...</h2>
                        <p>By Cong Minh</p>
                    </div>
                </div>

                <div class="blog-2">
                    <img src="img/blog-3.jpeg" alt="" width="100%" class="blog-item-2">

                    <div class="overlay2">
                        <h2>RECIPE - LIST | BEANS: THE COFFEE SHOP SIMULATOR WIKI | FANDOM</h2>
                        <p>By Minh Tuan</p>
                    </div>
                </div>

                <div class="blog-3">
                    <img src="img/blog-4.jpg" alt="" width="100%" class="blog-item-3">

                    <div class="overlay3">
                        <h2>20 BEST COFFEE RECIPES - RECIPE IDEAS, PRODUCT REVIEWS ...</h2>
                        <p>By Van Tuan</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>