<form method="POST" action="/login/store" class="form-register">

        <div class="register-container">
            <img src="../img/logo.png" alt="">
            <h3>Login</h3>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>

            <button type="submit" class="btn-sm">Login</button>
            {{#if notification}}
                <p class="notify">{{notification}}</p>
            {{/if}}
            <a href="/register" class="register-link">You don't have account</a>
        </div>
</form>
