<footer class="footer">
    <section>
        <div class="footer-col">
            <h3>Cafena Coffee</h3>
            <ul>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    123/45 Thanh Xuan Bac Street, Thanh Xuan District
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    0912345678
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    cafenacoffee@gmail.com
                </li>
                <li>
                    <i class="fa-solid fa-globe"></i>
                    https://cafenacoffee.vn
                </li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Product & Service</h3>
            <ul>
                <li>
                    <a href="/menu">Coffee Products</a>
                </li>
                <li>
                    <a href="/agreement">Purchase Agreement</a>
                </li>
                <li>
                    <a href="/guide">Shopping guide</a>
                </li>
                <li></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Contact</h3>
            <ul class="footer-contact">
                <li>
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li>
                    <i class="fa-brands fa-twitter"></i>
                </li>
                <li>
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                    <i class="fa-brands fa-youtube"></i>
                </li>
            </ul>
        </div>
    </section>

    <div class="seperate"></div>
    <p><span>© Copyright 2022</span> CAFENA COFFEE. <span>All rights</span></p>
</footer>